# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Feast runtime generated data & databases
feature_repo/data/*.parquet
feature_repo/data/*.db
feature_repo/data/*.joblib